n8n-workflow-example.json
{
  "name": "AI Endpoint Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "endpoint-generator",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "prompt": "Generate JavaScript code for an API endpoint based on this description: {{$json.query}}\n\nThe code should:\n1. Accept HTTP requests\n2. Process the request data\n3. Return a JSON response\n4. Use the 'response' object to set status, headers, and body\n\nExample structure:\n```javascript\nresponse.status = 200;\nresponse.headers = { 'Content-Type': 'application/json' };\nresponse.body = { message: 'Hello World' };\n```",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "ai-code-generator",
      "name": "AI Code Generator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "endpoints",
        "document": {
          "_id": "={{ $('Generate ID').item.json.id }}",
          "code": "={{ $json.choices[0].message.content }}",
          "query": "={{ $('Webhook Trigger').item.json.query }}",
          "createdAt": "={{ new Date().toISOString() }}",
          "description": "={{ $('Webhook Trigger').item.json.query }}"
        }
      },
      "id": "mongodb-insert",
      "name": "MongoDB Insert",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "prompt": "Generate an OpenAPI 3.0 specification for this API description: {{$('Webhook Trigger').item.json.query}}\n\nReturn only valid JSON without any markdown formatting.",
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        }
      },
      "id": "openapi-generator",
      "name": "OpenAPI Generator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "endpoints",
        "updateKey": "_id",
        "updateKeyValue": "={{ $('Generate ID').item.json.id }}",
        "fieldsToUpdate": {
          "openApiSpec": "={{ JSON.parse($json.choices[0].message.content) }}"
        }
      },
      "id": "mongodb-update",
      "name": "MongoDB Update",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "endpointId": "={{ $('Generate ID').item.json.id }}",
          "endpointUrl": "={{ $env.BASE_URL }}/api/{{ $('Generate ID').item.json.id }}",
          "openApiSpec": "={{ JSON.parse($('OpenAPI Generator').item.json.choices[0].message.content) }}",
          "description": "={{ $('Webhook Trigger').item.json.query }}",
          "createdAt": "={{ new Date().toISOString() }}"
        }
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "operation": "generateId"
      },
      "id": "generate-id",
      "name": "Generate ID",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [460, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Generate ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Code Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ID": {
      "main": [
        [
          {
            "node": "MongoDB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Code Generator": {
      "main": [
        [
          {
            "node": "MongoDB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Insert": {
      "main": [
        [
          {
            "node": "OpenAPI Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAPI Generator": {
      "main": [
        [
          {
            "node": "MongoDB Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Update": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
